apiVersion: 1

contactPoints:
  - orgId: 1
    name: Webhook
    receivers:
      - uid: webhook_receiver
        type: webhook
        settings:
          url: http://host.docker.internal:5001/ # Using internal host for local testing or configured env var

  - orgId: 1
    name: Discord
    receivers:
      - uid: discord_receiver
        type: discord
        settings:
          url: "${DISCORD_WEBHOOK_URL}"
          message: |
            {{ template "default.message" . }}

  - orgId: 1
    name: Email
    receivers:
      - uid: email_receiver
        type: email
        settings:
          addresses: "notifications@atl.services"
          singleEmail: true
